/* .Information {
    font-style: italic;
} */
/*tieu de cac sort*/
h1 {color:#ffdaba;
    font-size: 40px;
    text-align: center; /* Set the position to absolute */
    height: 50px;
    width: 800px;
    margin-top: 150px;
  
}
/* chu Description*/
#Tieude{

    text-shadow: 5px 2px 2px black; 
    color: #ffdaba;
    font-size: 100px;
    text-align: center;
    margin-top: 50;
    
}
/*Information about web*/
h3.Web{
    color: #ffe4cd;
    font-style: italic;
    font-size: 50px;
    margin-left: 20 px;
    border: 5px solid #fef1e5;
    text-align: center;
}
/* Objectives + How to use */
ol{
    color: #ffeedf;
    font-style:inherit;
    font-size: 40px;
    margin-left: 80px;
}
/*Link sort*/
a{
    color: #d8dfec;
    font-size: 40.72px;
    margin-left: 100;
    border: 3px solid #b09b9b; /* Set a 2px solid black border around the content */
    padding: 10px;


    /* text-shadow: 7px 5px 10px rgb(73, 75, 94);  */
}
/*sort description*/
#Content{
   
    text-shadow: 7px 5px 10px black; 
    color: #ffdaba;
    font-size: 35px;
    text-align: center;
    padding : 15px;
}
/*Step1
Step2*/
ul{
    color: hsl(28, 100%, 86%);
    font-style: italic;
    font-size: 25px;
    margin-left: 80px;
    
}
/*Numbers of swap*/
h3{
    font-style: bold;
    font-size: 25px; }
/*Information about Team members*/
.second {
    color: #ffe4cd;
    font-style: italic;
    font-size: 50px;
    margin-left: 20 px;
    border: 5px solid #fef1e5;
    text-align: center;
}
/*Description Information about Team members*/
p{
    color: #ffeedf;
    font-size: 28px; 
    margin-left: 80px;
}
/*select box*/
select{
    width: 100px;
    height: 40px;
    font-size: 15px; 
    margin-left: 60px;
    margin-top: 40px;
}
/*Create chart/ sort*/
button{
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 40px;
}
/**/
.detail{
    width : 800;
    height : 400;
    background-color:grey
}

#BigO{
    width: 700px;
    height: 40px;
    font-size: 10px;
    margin-left: 40px;
    margin-top: 40px;

}
/*kich thuoc cai khung*/
.item {
    border-radius: 130px;
    border: 10px solid #605a3f;
    height: 950px;
    width: 800;
    margin-left: 20px;
}
/*vi tri cai khung*/
.container{
    display: grid;
    grid-template-columns: 800px 650px;

}
#mergesort{
    display : flex;
    align-items: center;
    flex-direction: column;
}
/* .bar{
    width: 10px;
    background-color: black;
} */

.item-2 {
    background-image: url('https://i.pinimg.com/originals/5b/eb/fc/5bebfca9c7bb76897de3df064a9a75c8.jpg');
    background-repeat: no-repeat;
    background-size: cover; 

    
}
.item-select2 {
    background-image: url('https://i.pinimg.com/originals/fb/5f/fb/fb5ffbcee0cee215265803941dae9a16.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.item-insert2{
    background-image: url('https://i.pinimg.com/564x/4c/f4/ef/4cf4efce3184b3c4cd7a0008244e752e.jpg');
}
.item-quick2 {
    background-image: url('https://i.pinimg.com/originals/4a/b0/0d/4ab00d8cb00a1365d31cf6d6746c364f.jpg');
}
.item-merge2 {
    
    background-image: url('https://i.pinimg.com/originals/38/fe/12/38fe12e7d49fc69195d09b3979ea1cab.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.item-shell2{
    background-image: url('https://i.pinimg.com/originals/8e/87/a5/8e87a51202a7b28b98575a3bae55b5d2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
#col1{
    background-color:#d6c3a6;
}
.Titlepage {
    width: 1850px;
    height: 500px;
    background-image: url(backgroundtitle.jpeg);
    /* // 
    https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDbhqFGNAA_po7Fckvht6Wwgzd_XXAUmNL3A&usqp=CAU
    https://i.pinimg.com/originals/99/29/dd/9929ddc59f5a40e6cc6a9606b0f4e325.jpg
    */
    /* min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    /* opacity: 0.35;
    filter: blur(5px); */
    
    /* Set the position to absolute */
}
.Titlepage::before {
    content: '';
    background-image: inherit;
     background-repeat: no-repeat;
    background-size: cover; 
    /* background-position: center; */
    position: absolute;
    top: 0;
    left: 0;
    width: 1600px;
    height: 500px;
    
     filter: blur(200px); 
    /* opacity: 0.5; */

}

#Titlename {
    
    text-shadow: 5px 2px 2px black; 
    position: relative;
    text-align: center;
    color:  #ffccaa;
    font-size: 140px;
    top: 430;
    
}

body {
    background-image: url('https://i.pinimg.com/originals/85/24/89/852489cbad1b3eb5aec1c4dabd24877f.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

